body{
    background-color: rgb(235, 192, 129);
}
.fill{
    background-image: url(Photo1.jpg);
    position: relative;
    left: 10px;
    top: 5px;
    height: 150px;
    width: 140px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.circle{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 5px;
    border: 3px solid #fff;
    background: wheat;
}
.hoverd{
    background: rgb(92, 87, 87);
    border-style: dashed;
}
